#multiListDiv i.material-icons { font-size: 18px; }
#multiListDiv span.icon { font-size: 18px; }

/* Selector popup */
#choiceLi {
    margin-left: -44px;
    margin-right: 14px;
}

#subredditLink {
    padding-left: 4px;
}

#controlsDiv a::before {
    font-size: 24px;
    margin-top: -2px;
}

.info { font-size: 12px; }

.nbmenu { font-size: 14px; }

#navboxLink {
    width: 24px;
}

.redditp {
    height: 24px;
    width: 24px;
}

.reddit {
    height: 24px;
    width: 24px;
    margin: -5px;
}

.favicon {
    height: 16px;
    width: 16px;
}

.numberButtonList li {
    width: 30px;
    height: 30px;
}

.numberButtonList { max-height: 120px; }

.numberButton {
    font-size: 12px;
}
