/* 14 slides wide */
.navbox { width: 420px; }

.slide-out {
    max-height: 60px;
    left: -390px;    /* navbox.width - 30px */
}

.reddit { display: inline; }

.title {
    font-size: 20px;
    line-height: 24px;
}

.title .linkflair { line-height: 16px; }

#titleDiv .title .favicon {
    height: 24px;
    width: 24px;
}

/* 4 rows of numbers visible */
.numberButtonList ul li { height: 30px; }
.numberButtonList ul { max-height: 120px; }

/* info for reddit author link */
.infoa { margin-left: 2px; }

.altArrow { display: none; }

a:hover {
    opacity: 1;
    color: white;
    background-color: rgba(64, 64, 64, 0.8);
}

.arrow:hover { opacity: 1; }

.numberButtonList ul li a:hover {
    background: #888;
    color: #000;
    border: 1px solid transparent;
}

.numberButtonList ul li a.active:hover {
    color: #00f;
    cursor: default;
}

#playbutton a:hover {
    color: red;
    border: 1px solid transparent;
}

#controlsDiv input[type="button"]:hover,
#controlsDiv label:hover {
    opacity: 1;
    background-color: rgba(64, 64, 64, 0.8);
}
