#choiceLi { margin: 0 14px 0 -44px; }

#subredditPopup { left: 24px; }

.navbox { width: 400px; }

.reddit { display: inline; }

.title {
    font-size: 20px;
    line-height: 24px;
}

.title .favicon {
    height: 24px;
    width: 24px;
}

/* 4 rows of numbers visible */
.numberButtonList { max-height: 120px; }

/* info for reddit author link */
.infoa { margin-left: 2px; }

#navboxExtra {
    margin-top: -2px;
}

.altArrow { display: none; }
