#multiListDiv .icon {
    font-size: 36px;
    display: inline-block;
    margin-top: 6px;
}

.material-icons { font-size: 36px; }

/* 36px width + 10px margin of .nbmenu */
#subredditPopup { left: 46px; }

#choiceLi { margin: 0 -6px 0 -36px; }

#controlsDiv a::before {
    font-size: 36px;
}

.info {
    font-size: 16px;
    line-height: 20px;
}
.navbox { width: 440px; }
.navbox ul li a { height: 24px; }
#multiListDiv ul.iconrow a { height: 36px; }

#subredditUrl {
    font-size: 16px;
    width: 150px;
}

#navboxLink {
    width: 36px;
    height: 36px;
}

.reddit { display: none; }

.redditp {
    height: 36px;
    width: 36px;
}

.favicon {
    height: 24px;
    width: 24px;
}

.title .favicon {
    height: 28px;
    width: 28px;
    margin-bottom: 2px;
}

/* 3 rows of number visible */
.numberButtonList { max-height: 108px; }

.numberButtonList li {
    width: 36px;
    height: 36px;
}

.numberButton {
    font-size: 16px;
}

.nbmenu { margin-left: 10px; }

#navboxContents ul li { line-height: 30px; }

#navboxOrigDomain { margin-right: 10px; }
