#choiceLi { margin: 0 0 0 -30px; }

/* 12 slides wide */
.navbox { width: 360px; }

.title {
    font-size: 16px;
    line-height: 20px;
}

.title .favicon {
    height: 20px;
    width: 20px;
}

.linkflair {
    line-height: 14px;
    padding: 1px;
}

.reddit { display: none; }

.nbmenu li { padding: 2px 1px 0 2px; }

/* 3 rows of number visible */
.numberButtonList ul li { height: 24px; }
.numberButtonList { max-height: 72px; }

#recommend {
    left: 0;
    transform: revert;
    z-index: 10;
    opacity: 1;
}
