/* BASIC RESET */
* { margin:0; padding:0; border: 0; }

/* HTML ELEMENTS */
body {
    overflow: hidden;
    background-color: #000;
    color:#fff;
    font-family: IBMPlexSans, "Helvetica Neue", "Segoe UI", Helvetica, Verdana, Arial, sans-serif
}

/* PICTURES */
#pictureSlider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index:-999;
}
.hidden { display: none; }
.selected { color: red; }

#pictureSlider div { height:100%; width:100%; position:absolute; }

/* USER LOGIN / MULTI-REDDITS */
#loginLi input:checked~#multiListDiv { display: block; }
#loginLi.use-hover:hover div { display: block; }
#loginLi div {
    display: none;
    position: absolute;
    bottom: 100%;
}
#loginLi a { display: inline-block; }

#multiListDiv ul li { padding: 5px 2px 5px 2px; }
#multiListDiv ul li.right { float: right; }
#multiListDiv hr { margin: 0; }
#multiListDiv i.material-icons { font-size: 18px; }
/* toggled on/off when logged in */

/* Selector popup */
#choiceLi { margin-left: -27px; }
#choiceLi input:checked~#subredditPopup { display: block; }
#choiceLi div {
    display: none;
    position: absolute;
    bottom: 100%;
}
#choiceLi a { display: inline-block; }
#choiceLi li { display: block; padding: 2px; }

/* PLAY BUTTON */
#playbutton {
    top: 45%;
    left: 45%;
    z-index: 0;
    display: block;
    position: absolute;
    width: 10%;
    height: 10%;
    text-align: center;
    vertical-align: middle;
}
#playbutton i.material-icons { font-size: 60px; opacity: 0.7; }
#playbutton a { display: block; clear: both; border: 1px solid transparent; }
#playbutton a:hover { color: red; border: 1px solid transparent; }

/* NAVIGATION BOX */
#navigationBoxes {float: left; }
#navboxExtra  { float: left; }
a { text-decoration:none;
    color:#eee;
    font-weight: bold;
    border-bottom: 1px dotted rgba(0,0,0,0);
 }
a:hover {
    opacity: 1.0;
    border-bottom-color: white;
}

.navbox { width:450px; max-height: 40%; overflow: visible; position:relative; }
/* 108px so the next row is half-visible */
.numberButtonList { overflow: auto; max-height: 108px; }
.navbox ul { list-style-type:none; display:block; margin:0px; right:10px; top:10px; text-align: left;}
.navbox ul li { display: inline-block; list-style-type: none; vertical-align: middle; }
.navbox ul li.hidden { display: none; }
.numberButton {
    float: left;
    min-width: 3ex;
    margin-left: 3px;
    margin-bottom: 3px;
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
    padding: 3px;
    border: 1px solid transparent;
}
.over18 { color: #f99; }

.error { color: red; }

/* Decorate Photo Buttons */
#controlsDiv a { position: relative; }
#controlsDiv a:before {
    font-family: "Material Icons";
    font-weight: normal;
    font-size: 24px;
    position: absolute;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}

a.video:before { content: "movie"; }
a.album:before { content: "photo_library"; }
a.later:before { content: "file_download"; }
a.failed { text-decoration: line-through; }
a.embed:before { content: "ondemand_video"; }

.xorig {
    border: 1px solid white;
    border-radius: 5px;
}


.navbox ul li a {
    cursor:pointer;
}
.numberButtonList ul li a:hover { background:#888; color:#000; border: 1px solid transparent; }
.numberButtonList ul li a.active:hover {
    color:  #00f;
    cursor: default;
}
.numberButtonList ul li a.active {
    color: #00AAAA;
    box-shadow: 2px 2px 3px #ccc;
}

#controlsDiv {position: absolute; bottom: 0; left: 0; }
#titleDiv { position: absolute; top: 0; left: 0; right: 0; }
#duplicates { position: relative; top: 0; left: 0; right: 0; overflow: auto; }
#subredditUrl { border: 1px dashed; background-color: black; color: white; }

.title { padding: 2px; font-weight: bold; font-size: 20px; }
h3 { padding: 2px; font-weight: bold; font-size: 16px; }

/* infoLink:   infol infop [infoc]  infod  [infol infop [infoc]] */
/* redditLink: infol infor [infoc] */
.info { font-weight: bold; font-size: 12px; float: left}
/* info link */
.infol { margin: 3px 1px 2px 5px; }
/* info redditp image */
.infop { margin-right: 5px; }
/* info for reddit image */
.infor { margin: 0px 5px 0px 2px; }
/* info date */
.infod { margin: 3px 5px 2px 5px; }
/* info comment link (between infol and infop */
.infoc { margin: 3px 5px -5px 0px; }

label.textlabel { font-weight: bold; font-size: 12px; margin: 0px 0px 0px 2px; }
input.textlabel {
    height: 16px;
    width: 16px;
    text-align: center;
    margin: 0px 5px 0px 0px;
}

.navbox p { padding:20px 20px 20px 20px; font-size:13px; color:#111; }
.navbox p.bottom { position:absolute; bottom:5px; right:5px; }

.origlink {
    margin-top: 5px;
}

.nbmenu {
    margin: 0 0 0 5px;
    width: 100%;
    font-size: 14px;
}

.nbmenu li {
    text-align: left;
    padding: 2px 2px 5px 3px;
    max-width: 300px;
    overflow: hidden;
}

.nbmenu li.list-start {
    padding: 2px 0px 5px 3px;
}
.nbmenu li.list-item {
    padding: 2px 1px 5px 0px;
}
.nbmenu li.list-end {
    padding: 2px 2px 5px 1px;
}

#navboxScore {
    position: relative;
}
#navboxScore div.reddit {
    position: absolute;
    background-image: url(images/upvote.svg);
    opacity: 0.4;
    z-index: -1;
    left: 15px;
    /* height / width set from .reddit */
}
#navboxScore span {
    width: 34px;
    text-align: center;
}

#navboxContents {
    padding: 0px 28px 2px 0;
    margin: 0;
}
#navboxTitleWrapper {
    padding: 0px 28px 0px 0;
    margin: 0;
}
#albumNumberButtons {
    border-top: 2px solid grey;
}

#navboxOrigLink i {
    font-size: 18px;
}

li.origlink i {
    font-size: 18px;
}

label.checkbox { font-weight: bold; }

.linkflair { 
    border: 1px solid grey;
    border-radius: 5px;
    float: left;
    font-size: 10px;
    font-weight: normal;
    margin: 1px;
    padding: 1px;
}

.favicon {
    height: 16px;
    width: 16px;
}

.favicon:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.clouds { opacity: 0.9; background-color: rgba(0,0,0,0.7); }

/* Computed width: 28px */
.collapser {
    border: solid 1px #555;
    font-size: 20px;
    font-family: monospace;
    color: #bbb;
    padding: 0 7px;
    float: right;
    cursor: pointer;
}

.vcollapser {
    border: solid 1px #555;
    font-size: 20px;
    font-family: monospace;
    color: #bbb;
    padding: 0 7px;
    float: right;
    cursor: pointer;
}

.checkbox { cursor: pointer; }

.prevArrow {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid white;

    opacity: 0.8;
    cursor: pointer;
}

.nextArrow {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;

    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid white;
    opacity: 0.8;
    cursor: pointer;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked + label.colortoggle {
    color: red;
}

.unset {
    color: red;
}

.icontoggle {
    cursor: pointer;
    font-size: 24px;
}

#fullScreenButton {
    width: 20px;
    padding-left: 10px;
    cursor:pointer;
}

.fullscreen {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.redditp {
    height: 24px;
    width: 24px;
    margin: 0px -5px 0px -5px;
}

.reddit {
    height: 24px;
    width: 24px;
    margin: -5px;
}

.right {
    float: right;
}
