/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML ELEMENTS */
body {
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: IBMPlexSans, "Helvetica Neue", "Segoe UI", Helvetica, Verdana, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    border-bottom: 1px dotted rgba(0, 0, 0, 0);
}

a:hover {
    opacity: 1;
    border-bottom-color: white;
}

h3 {
    padding: 0 2px;
    font-weight: bold;
    font-size: 16px;
}

/* Generic Styles */

.title {
    padding: 2px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
}

.title .social {
    border-radius: 5px;
    border: 1px solid white;
    padding-left: 2px;
    margin-right: 3px;
}

.clouds {
    opacity: 0.9;
    background-color: rgba(0, 0, 0, 0.7);
}

.unset { color: red; }
.icontoggle { cursor: pointer; }
.origlink { margin-top: 5px; }
.origlink i { font-size: 18px; }
.right { float: right; }

/* Decorate Photo Buttons */
.nbmenu a.image::before { content: "image"; }
a.video::before { content: "movie"; }
a.embed::before { content: "ondemand_video"; }
a.album::before { content: "photo_library"; }
a.later::before { content: "file_download"; }
a.thumb::before { content: "preview"; }
.nbmenu a.thumb::before { content: "insert_photo"; }
a.html::before { content: "message"; }
a.failed { text-decoration: line-through; }
.nbmenu a.failed::before { content: "broken_image"; }

.numberButtonList .over18 { color: #f99; }

/* List of Info Links */
.nbmenu { width: 100%; }

.nbmenu li {
    text-align: left;
    padding: 2px 2px 0 3px;
    max-width: 300px;
    overflow: hidden;
}

.nbmenu li.list-start {
    padding: 0 0 0 3px;
}

.nbmenu li.list-item {
    padding: 0;
}

.nbmenu li.list-end {
    padding: 0 0 0 3px;
}

/* Major Div Styles (navboxes) */
.navbox { width: 450px; }

.navbox ul { display: block; }

.navbox ul li {
    display: inline-block;
    list-style-type: none;
    vertical-align: middle;
}

.navbox ul li a {
    cursor: pointer;
}

.navbox ul li.hidden { display: none; }

.navbox p {
    padding: 20px;
    font-size: 13px;
    color: #111;
}

.navbox p.bottom {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

/* Album Button Styles */
.numberButton {
    float: left;
    min-width: 3ex;
    margin-left: 3px;
    text-decoration: none;
    color: #eee;
    font-weight: bold;
    text-align: center;
    line-height: 18px;
    padding: 3px;
    border: 1px solid transparent;
}

.numberButtonList { overflow: auto; }

.numberButtonList ul li a:hover {
    background: #888;
    color: #000;
    border: 1px solid transparent;
}

.numberButtonList ul li a.active {
    color: #0aa;
    box-shadow: 2px 2px 3px #ccc;
}

.numberButtonList ul li a.active:hover {
    color: #00f;
    cursor: default;
}

.numberButtonList ul li a::before {
    opacity: 0.4;
}

/* PICTURES */
#pictureSlider {
    position: static;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#recommend {
    text-align: center;
    margin: 10px;
    color: #bbb;
}

.topper { z-index: 1; }

.hidden { display: none; }
.selected { color: red; }

#pictureSlider div.fullscreen {
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Selector popup */
hr.split { border: 1px inset; }

/* Help Popup */
#help {
    position: absolute;
    top: 0;
    right: 0;
}

#help td:first-child {
    font-weight: bold;
}

div.progressbar {
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 0;
}

div.progress {
    background-color: red;
    position: absolute;
    height: inherit;
    bottom: 0;
    opacity: 0.6;
}

#circle {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: white;
    position: absolute;
    opacity: 0.6;
}

/* NAVIGATION BOX */
#navigationBoxes { float: left; }
#navboxExtra { float: left; }

.error { color: red; }

/* Embedded html - vertically center it */
#gfyhtml {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.xorig {
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 2px;
}

#navboxLink {
    display: inline-block;
}

#controlsDiv {
    position: absolute;
    bottom: 0;
}

#titleDiv {
    position: absolute;
    min-height: 60px;
    overflow: hidden;
}

#duplicates {
    position: relative;
    clear: left;
}

#duplicates ul { display: inline; }

#subredditUrl {
    border: 1px dashed;
    background-color: black;
    color: white;
    float: left;
}

#duplicatesCollapser {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 100;
}

/* infoLink:   infol infop [infoc]  infod  [infol infop [infoc]] */

/* redditLink: infol infor [infoc] */

/* font-size set in mobile/desktop */
.info {
    font-weight: bold;
    float: left;
}

/* info link */
.infol { margin-left: 5px; }

li.xorig a.infol { margin-left: 3px; }

/* info redditp image */
.infop { margin-left: 5px; }

/* info for reddit image */
.infor { margin-left: 2px; }

/* info date */
.infod { margin: 0 5px 0 10px; }

/* info comment link (between infol and infop */
.infoc { margin: 0 3px 0 2px; }

label.textlabel {
    font-weight: bold;
    margin: 0 0 0 2px;
}

input.textlabel {
    height: 16px;
    width: 16px;
    text-align: center;
    margin: 0 5px 0 0;
}

#controlsDiv a { position: relative; }

#controlsDiv a::before {
    font-family: "Material Icons"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
}

#navboxScore {
    position: relative;
}

div.score {
    position: absolute;
    background-image: url("images/upvote.svg");
    opacity: 0.4;
    z-index: -1;
    height: 24px;
    width: 24px;
    bottom: -20px;
    left: 10px;
}

#navboxScore span {
    width: 34px;
    text-align: center;
}

#albumCollapser {
    position: absolute;
    top: 0;
    right: 30px;
}

#controlsCollapser {
    position: absolute;
    top: 0;
    right: 0;
}

#navboxTitleWrapper { padding: 0 28px 0 0; }

#albumNumberButtons { border-top: 2px solid grey; }

.linkflair {
    border: 1px solid grey;
    border-radius: 5px;
    float: left;
    font-size: 10px;
    font-weight: normal;
    margin: 1px;
    padding: 2px;
    line-height: 16px;
}

.favicon:hover { background-color: rgba(255, 255, 255, 0.7); }

/* Computed width: 28px */
.collapser {
    border: solid 1px #555;
    font-size: 20px;
    font-family: monospace;
    color: #bbb;
    float: right;
    cursor: pointer;
    height: 28px;
    min-width: 28px;
    text-align: center;
}

.count {
    font-size: 16px;
    display: block;
    margin-top: 4px;
}

.prevArrow {
    position: absolute;
    top: 50%;
    left: 10px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 30px solid white;
    opacity: 0.8;
    cursor: pointer;
}

.nextArrow {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 30px solid white;
    opacity: 0.8;
    cursor: pointer;
}

label.checkbox { font-weight: bold; }

.checkbox {
    cursor: pointer;
    background: transparent;
    color: white;
}

input[type="checkbox"] { display: none; }
input[type="checkbox"]:checked + label.colortoggle { color: red; }

.fullscreen {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#fullScreenButton {
    width: 20px;
    padding-left: 10px;
    cursor: pointer;
}

#choiceLi input:checked ~ #subredditPopup { display: block; }

#choiceLi li.multi {
    display: inline-block;
}

#choiceLi div {
    display: none;
    position: absolute;
    bottom: 100%;
}
#choiceLi a { display: block; }

#choiceLi li {
    display: block;
    padding: 0;
}

/* MULTI-REDDITS */
#multiListDiv {
    left: 0;
    padding-bottom: 5px;
}

#multiListDiv ul li {
    padding: 0 2px 2px;
    overflow: visible;
}
#multiListDiv ul li.right { float: right; }
#multiListDiv hr { margin: 0; }

/* User Login */
#loginLi div {
    display: none;
    position: absolute;
    bottom: 100%;
}

#loginLi a { display: inline-block; }

#loginLi input:checked ~ #multiListDiv { display: block; }
#loginLi.use-hover:hover div { display: block; }

/* PLAY BUTTON */
#playbutton {
    top: 45%;
    left: 45%;
    z-index: 10;
    display: block;
    position: absolute;
    width: 10%;
    height: 10%;
    text-align: center;
    vertical-align: middle;
}

#playbutton i.material-icons {
    font-size: 60px;
    opacity: 0.7;
}

#playbutton a {
    display: block;
    clear: both;
    border: 1px solid transparent;
}

#playbutton a:hover {
    color: red;
    border: 1px solid transparent;
}

blockquote.tiktok-embed {
    max-width: 605px;
    min-width: 325px;
}
