# Updates here should coincide with rp.getRestOfUrl()
RewriteEngine On

RewriteBase /
#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

# Allow relative links for css and javascript
RewriteCond %{REQUEST_URI} ^.*/(js/.*)$ [OR]
RewriteCond %{REQUEST_URI} ^.*/(images/.*)$ [OR]
RewriteCond %{REQUEST_URI} ^.*/(css/.*)$ 
RewriteCond %{DOCUMENT_ROOT}/%1 -f
RewriteRule ^.*$ %1 [L]

RewriteRule ^r/(.*) /index.html
RewriteRule ^u/(.*) /index.html
RewriteRule ^user/(.*) /index.html
RewriteRule ^domain/(.*) /index.html
RewriteRule ^search(.*) /index.html
RewriteRule ^blogger/(.*) /index.html
RewriteRule ^gfycat/(.*) /index.html
RewriteRule ^imgur/(.*) /index.html
RewriteRule ^tumblr/(.*) /index.html
RewriteRule ^wp/(.*) /index.html
RewriteRule ^wp2/(.*) /index.html

# Authed interface
RewriteRule ^auth(.*) /index.html
RewriteRule ^me/(.*) /index.html
RewriteRule ^top(.*) /index.html
RewriteRule ^new(.*) /index.html
RewriteRule ^rising(.*) /index.html
RewriteRule ^controversial(.*) /index.html

# to hide .git and allow redditp.com/.compact
RewriteRule ^\.(.*) /index.html
